.zone {
  align-items: center;
  border-width: 2px;
  border-style: dashed;
  border-color: var(--bodyText);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 100%;
  justify-content: center;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 0 4px 8px #0000001a;

  &.zoneHover {
    border-color: var(--grayDark);
  }
}

.file {
  background: linear-gradient(to bottom, #eee, #ddd);
  border-radius: 10px;
  display: flex;
  height: 80px;
  width: 80px;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .info {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5px;

    .size {
      background-color: var(--bodyText);
      border-radius: 3px;
      margin-bottom: 0.5em;
      padding: 2px 5px;
      color: #fff;
    }

    .name {
      background-color: var(--bodyText);
      border-radius: 3px;
      font-size: 10px;
      margin-bottom: 0.5em;
      padding: 2px 5px;
      color: #fff;
    }
  }

  .progressBar {
    bottom: 10px;
    position: absolute;
    width: 100%;
    padding: 0 5px;
  }

  .remove {
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
  }
}
