.navContainer {
  display: flex;
  gap: 16px;
  background-color: var(--accentBackground);

  .navLink {
    text-decoration: none;

    .navButton {
      background-color: var(--accentBackground);
      color: var(--accentText);
      outline: none;
      border: none;
      padding: 1em;
      font-size: 1em;

      &:hover {
        background-color: var(--secondaryBackground);
        color: var(--secondaryText);
      }

      &[aria-expanded="true"] {
        background-color: hsl(204 20% 96%);
      }
    }
  }
}
