// Container for the table with fixed height and scroll handling
.tableContainer {
  height: 70vh;
  width: 100%;
  overflow: auto;
  position: relative;
}

// Table styles
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  margin-top: 2em;
  padding: 0;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.5;
  color: var(--accentText);
  font-family: inherit;
  text-align: left;
  overflow: auto;
  transition: box-shadow 0.2s ease-in-out;

  thead {
    tr {
      background-color: var(--accentBackground);
      color: var(--accentText);
      font-weight: 500;
      text-align: center;
      border: none;
    }
  }
}

//Dragabble Table Header
.header {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  .cell {
    border-radius: 12px 12px 0px 0px;
    &.dragging {
      opacity: 0.8;
      z-index: 1;
    }
  }
}

//Drag Along Cell
.cell {
  opacity: 1;
  position: relative;
  transition: width transform 0.2s ease-in-out;

  input {
    border: 1px solid var(--accentBackground);
    width: 100%;
    width: fit-content;
    margin: none;
    font-size: 0.9em;
  }

  &.dragging {
    opacity: 0.8;
    z-index: 1;
  }
}

.csvButtonsDiv {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;

  button {
    background-color: var(--accentBackground);
    color: var(--accentText);
    border-radius: 8px;
    padding: 1.6em 2.4em;
  }

  button:hover {
    background-color: var(--secondaryBackground);
    color: var(--secondaryText);
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
}

.buttonDiv {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;

  .button {
    width: 20%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 12px;
    font-size: 2em;
  }
}

.dragging {
  opacity: 0.8;
}

.transformed {
  position: relative;
  transition: width transform 0.2s ease-in-out;
}

.tableInfo {
  color: var(--secondaryText);
  display: flex;
  justify-content: center;
  font-size: 1em;
}

/* Make this float horizontally */
.tableNav {
  background-color: var(--secondaryBackground);
  width: 100%;
  padding: 0;
  margin-top: 2em;
  position: sticky;
  bottom: 0;
  z-index: 10; /* Ensure it stays above other content */
}

.zIndex {
  z-index: 1;
}
